//head.jade

head
	script: include ./gss_config.json
	script(src="./bower_components/gss/dist/gss.js")
	link(href='./css/style.css', rel='stylesheet', type='text/css')
	link(href='structure.gss', rel='stylesheet', type='text/gss')
